@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
  font-family: 'FonteLogo';
  src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    font-family: Arial,sans-serif;
    background-color: #dddddd;
    color: rgba(0, 0, 0, 1);
}
div#interface {
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    padding: 10px;   
}

h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 22px;
   text-indent: 5px;
   color: black;
   background-color: #cecece;
}

p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: #606060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header#cabecalho img#icone {
    position: absolute;
    left: 1240px;
    top: 70px;
}

@media screen and (max-width: 1600px) {
     
    header#cabecalho img#icone {
        position: absolute;
        left: 960px;
        top: 70px;
    }
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    color: #888888;
    background-color: white;
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

/* Formatação de imagens com legendas */

figure.foto-legenda {
   position: relative;
   border: 8px solid white;
   box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}

/* Formatação do Menu */

nav#menu {
    display: flex;
    
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    margin-top: -95px;
    margin-left: 190px;  
}

nav#menu li {
    display: inline-block;
    background:url(../_imagens/rm21-pd-sasi-03.jpeg); 
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    -moz-box-shadow:0 1px 1px 0 rgb(0, 0, 0);
    box-shadow:0px 0px 1px rgb(0, 0, 0)
    
    
}

nav#menu li:hover {
  background:url(../_imagens/pexels-luis-gomes-546819.jpg);
  transition: 2s;
  -moz-box-shadow:0 3px 10px 0 rgb(0, 0, 0);
  box-shadow:0px 0px 5px rgb(0, 0, 0) 
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;  
}

nav#menu a:hover {
    color: rgb(245, 245, 245);
    text-decoration: underline;  
}

section#corpo {
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #606060 ;
    padding-right: 15px;    
}

article#noticia-principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: 0px;
    margin-top: 0px;
}

.direita {
    text-align: right;
}

header#cabecalho-artigo h2 {
    font-size: 13pt;
    color: #cecece;
    background-color: #ffffff;
    margin: 0px;
}

header#cabecalho-artigo h3 {
    font-size: 12px;
    color: #606060;
}

table#tabelaspec {
   border: 1px solid #606060;
   border-spacing: 0px;
   margin-left: auto;
   margin-right: auto;
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
}

table#tabelaspec td.ce {
    color: #ffffff;
    background-color: #606060;
    vertical-align: top;
    font-weight: bold;
}

table#tabelaspec td.cd {
    background-color: #eeeeee;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

aside#lateral {
    display: block;
    width: 350px;
    float: right;
    background: url(../_imagens/rm21-pd-sasi-03.jpeg);
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5); 
}

aside#lateral h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 18px;
    color: #606060;
    margin-top: 0px;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 18px;
    color: #ffffff;
    padding: 5px;
}

.outras {
    display: block;
    width: 350px;
    float: right;
    background: url(../_imagens/rm21-pd-sasi-03.jpeg);
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
    border-radius: 1px;
}

.outras h2 {
    text-indent: 5px;
    color: rgb(255, 255, 255);
    background-color: #606060;
    font-size: 18px;
    padding: 5px;  
}

.outras p {
    color: rgb(0, 0, 0);
}

.outras a {
    color: #000000;
}

.outras a:hover {
    color: rgb(32, 136, 50);
}

.rt-container{
    background: #cecece; 
  }
  
  .carousel-tn {
    max-width: 2100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
  }
  
  .carousel-tn__activator {
    display: none;
  }
  
  .carousel-tn__controls {
    display: none;
    justify-content: space-between;
    position: absolute;
    top: 150px;
    right: 20px;
    left: 20px;
  
  }
  .carousel-tn__controls:first-of-type {
    justify-content: flex;
  }
  .carousel-tn__controls:last-of-type {
    justify-content: flex;
  }
  
  .carousel-tn__control {
    cursor: pointer;
    display: flex;
    font-size: 40px;
    font-weight: 900;
    height: 170px;
    margin: 90px 5px 0px 0;
    justify-content: center;
    transition: 0.3s all;
    width: 38px;
    z-index: 1;
    font-family:FontAwesome;
    color: #333333;
   
  }
  
  .carousel-tn__control:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  
  .carousel-tn__activator:nth-of-type(1):checked
  ~ .carousel-tn__controls:nth-of-type(1) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(1):checked
  .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  
  .carousel-tn__activator:nth-of-type(2):checked
  ~ .carousel-tn__controls:nth-of-type(2) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(2):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .carousel-tn__activator:nth-of-type(3):checked
  ~ .carousel-tn__controls:nth-of-type(3) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(3):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  
  .carousel-tn__activator:nth-of-type(4):checked
  ~ .carousel-tn__controls:nth-of-type(4) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(4):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  
  .carousel-tn__activator:nth-of-type(5):checked
  ~ .carousel-tn__controls:nth-of-type(5) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(5):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  
  .carousel-tn__activator:nth-of-type(6):checked
  ~ .carousel-tn__controls:nth-of-type(6) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(6):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  
  .carousel-tn__activator:nth-of-type(7):checked
  ~ .carousel-tn__controls:nth-of-type(7) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(7):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-600%);
            transform: translateX(-600%);
  }
  
  .carousel-tn__activator:nth-of-type(8):checked
  ~ .carousel-tn__controls:nth-of-type(8) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(8):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-700%);
            transform: translateX(-700%);
  }
  
  .carousel-tn__activator:nth-of-type(9):checked
  ~ .carousel-tn__controls:nth-of-type(9) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(9):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-800%);
            transform: translateX(-800%);
  }
  
  .carousel-tn__activator:nth-of-type(10):checked
  ~ .carousel-tn__controls:nth-of-type(10) {
    display: flex;
  }
  
  .carousel-tn__activator:nth-of-type(10):checked
  ~ .carousel-tn__screen
  .carousel-tn__track {
    -webkit-transform: translateX(-900%);
            transform: translateX(-900%);
  }
  
  .carousel-tn__screen {
    overflow: hidden;
    margin-left: -16px;
    margin-right: -16px;  
  }
  
  .carousel-tn__track {
    font-size: 0;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  } 
  
  .carousel-tn__item-in4 {
    display: inline-flex;
    vertical-align: left;
    white-space: normal;
  }
  
  .carousel-tn__item-in4--desktop-in-4 {
    width: 25%;
  }
  
  .item-in4-tn-content {
    display: flex;
    justify-content: center;
    max-height: 500px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  .item-in4-container img {
      width: 400px;
      max-height: 350px;
  }
  
  .item-in4-desc-container {
      height: 50px;
      width: auto;
      font-family: Questrial;
      color: black;
  }
  
  .item-in4-desc-container h3 {
      font-size: 18px;
  }
  
  .item-in4-desc-container span {
      font-size: 16px;
  }
  
  @media screen and (max-width: 1700px) {
    
    .item-in4-tn-content {
      max-height: 450px;
      width: 100%;
    }
  
    .item-in4-container img {
        width: 350px;
        max-height: 300px;
    }
  
    .item-in4-desc-container {
        height: 50px;
        width: auto;
    }
  
    .item-in4-desc-container h3 {
        font-size: 18px;
    }
  
    .item-in4-desc-container span {
        font-size: 16px;
    }
    
  }
  
  @media screen and (max-width: 1550px) {
    
    .item-in4-tn-content {
      max-height: 400px;
      width: 100%;
    }
  
    .item-in4-container img {
        width: 280px;
        max-height: 250px;
    }
  
    .item-in4-desc-container {
        height: 50px;
        width: auto;
    }
  
    .item-in4-desc-container h3 {
        font-size: 16px;
    }
  
    .item-in4-desc-container span {
        font-size: 14px;
    }
    
  }
  
  .carousel-tn__item-in3 {
    display: inline-flex;
    vertical-align: left;
    white-space: normal;
  }
  
  .carousel-tn__item-in3--desktop-in-3 {
    width: 33%;
  }
  
  .item-in3-tn-content {
    display: flex;
    justify-content: center;
    max-height: 400px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  .item-in3-container img {
      width: 340px;
      max-height: 280px;
  }
  
  .item-in3-desc-container {
      height: 50px;
      width: auto;
      font-family: Questrial;
      color: black;
  }
  
  .item-in3-desc-container h3 {
      font-size: 16px;
  }
  
  .item-in3-desc-container span {
      font-size: 14px;
  }
  
  @media screen and (max-width: 1200px) {
    
    .item-in3-tn-content {
      max-height: 400px;
      width: 100%;
    }
  
    .item-in3-container img {
        width: 280px;
        max-height: 250px;
    }
  
    .item-in3-desc-container {
        height: 50px;
        width: auto;
    }
  
    .item-in3-desc-container h3 {
        font-size: 16px;
    }
  
    .item-in3-desc-container span {
        font-size: 14px;
    }
    
  }
  
  .carousel-tn__item-in2 {
    display: inline-flex;
    vertical-align: left;
    white-space: normal;
  }
  
  .carousel-tn__item-in2--desktop-in-2 {
    width: 50%;
  }
  
  .item-in2-tn-content {
    display: flex;
    justify-content: center;
    max-height: 400px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  .item-in2-container img {
      width: 340px;
      max-height: 280px;
  }
  
  .item-in2-desc-container {
      height: 50px;
      width: auto;
      font-family: Questrial;
      color: black;
  }
  
  .item-in2-desc-container h3 {
      font-size: 16px;
  }
  
  .item-in2-desc-container span {
      font-size: 14px;
  }
  
  @media screen and (max-width: 850px) {
    
    .item-in2-tn-content {
      max-height: 400px;
      width: 100%;
    }
  
    .item-in2-container img {
        width: 280px;
        max-height: 250px;
    }
  
    .item-in2-desc-container {
        height: 50px;
        width: auto;
    }
  
    .item-in2-desc-container h3 {
        font-size: 16px;
    }
  
    .item-in2-desc-container span {
        font-size: 14px;
    }
    
  } 
  
  .carousel-tn__item-in1 {
    display: inline-flex;
    vertical-align: left;
    white-space: normal;
  }
  
  .carousel-tn__item-in1--desktop-in-1 {
    width: 100%;
  }
  
  .item-in1-tn-content {
    display: flex;
    justify-content: center;
    max-height: 400px;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  .item-in1-container img {
      width: 320px;
      max-height: 260px;
  }
  
  .item-in1-desc-container {
      height: 50px;
      width: auto;
      font-family: Questrial;
      color: black;
  }
  
  .item-in1-desc-container h3 {
      font-size: 16px;
  }
  
  .item-in1-desc-container span {
      font-size: 14px;
  }

footer#rodape {
    clear: both;
    border-top: 1px solid #606060;   
}

footer#rodape p {
    text-align: center;  
}

    